.container{
	margin-top: 10vh;
}

#contact-form{
	 border-radius: 0 !important;
}

#thanks{
	margin-top: 35vh;
}

.thanks{
	vertical-align: middle;
	text-align:center;
}

#button-return a{
  text-decoration: none;
 
  
}
